@{
    ViewData["Title"] = "About Me";

    var studentName = "Adam Simcoe";
    var studentId = "101442161";
    var courseCode = "COMP 2139";
    var courseSection = "50272";
    var term = "Winter 2024";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p>Student Name: @studentName</p>
    <p>Student ID: @studentId</p>
    <p>Course Code: @courseCode</p>
    <p>Course Section: @courseSection</p>
    <p>Term: @term</p>
</div>