@model GBC_Travel_Group_42.Models.BookFlight

@{
    ViewData["Title"] = "Details";
}

<div class="details-box">
    <h1>Flight Booking Details</h1>

    <div>
        <h4>Book Flight</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GuestFirstName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GuestFirstName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GuestLastName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GuestLastName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GuestEmail)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GuestEmail)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Accommodations)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Accommodations)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Flight.FlightNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Flight.FlightNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Flight.Origin)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Flight.Origin)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Flight.Destination)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Flight.Destination)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Flight.DepartureDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Flight.DepartureDateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Flight.ArrivalDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Flight.ArrivalDateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Flight.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Flight.Price)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.BookingFlightId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>