@model GBC_Travel_Group_42.Models.BookHotel

@{
    ViewData["Title"] = "Details";
}
<div class="details-box">
    <h1>Hotel Booking Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GuestFirstName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GuestFirstName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GuestLastName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GuestLastName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GuestEmail)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GuestEmail)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Accommodations)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Accommodations)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Hotel.HotelName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Hotel.HotelName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Hotel.HotelLocation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hotel.HotelLocation)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CheckInDateTime)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CheckInDateTime)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ExpectedStayDuration)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ExpectedStayDuration)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CheckOutDateTime)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CheckOutDateTime)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.HotelTotalPrice)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.HotelTotalPrice)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.BookingHotelId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>