@model List<GBC_Travel_Group_42.Models.BookHotel>

@{
    ViewData["Title"] = "Hotel Bookings";
}

<div class="table-custom">
    <h2 class="center-text">Hotel Bookings</h2>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Guest Name</th>
                    <th>Email Address</th>
                    <th>Hotel Name</th>
                    <th>Hotel Location</th>
                    <th>Check-In Time</th>
                    <th>Check-Out Time</th>
                    <th>Total Price</th>
                </tr>
            </thead>

            @foreach (var hotelBooking in Model)
            {
                <tbody>
                    <tr>
                        <td>@(hotelBooking.GuestFirstName + " " + hotelBooking.GuestLastName)</td>
                        <td>@hotelBooking.GuestEmail</td>
                        <td>@hotelBooking.Hotel?.HotelName</td>
                        <td>@hotelBooking.Hotel?.HotelLocation</td>
                        <td>@hotelBooking.CheckInDateTime</td>
                        <td>@hotelBooking.CheckOutDateTime</td>
                        <td>$@hotelBooking.HotelTotalPrice</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@hotelBooking.BookingHotelId" class="btn btn-info">Details</a>
                            <a asp-action="Edit" asp-route-id="@hotelBooking.BookingHotelId" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@hotelBooking.BookingHotelId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    }
    else
    {
        <p>No hotel bookings available.</p>
    }
    <div class="mt-4">
        <a asp-area="" asp-controller="BookHotel" asp-action="Create" class="btn btn-primary">Create New Hotel Booking</a>
        <a asp-area="" asp-controller="Hotel" asp-action="Index" class="btn btn-info">View Hotels</a>
    </div>
</div>

